*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(94, 94, 94);
}
.barra{
    position: sticky;
    display: block;
    top: 0;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    
}

.barra-lista{
    position: sticky;
    display: block;
    list-style-type: none;
}
.elemento__barra{
    position: sticky;
    display: inline-block;
    color: #000;
    font-size: 25px;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: #062c6d solid 2px;
    transition: background .5s;
    opacity: 1;
}
.elemento__barra:hover{
    color: #fff;
    background:#0a2a7c;
}

.divlogo{
    display: inline-block;
    position: sticky;
    width: 300px;
    height: 50px;
    background: #ccc;
}
.elemento1{
    border-bottom: none;
}
.logo{
    position: relative;
    width: 200px;
    height: 30px;
    object-fit: cover;
    object-position: bottom;
}
.portada, .portada__imagen{
    position: absolute;
    width: 500px;
}
@media (max-width: 720px){
    .barra{
        position: absolute;
    }
    .logo{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .elemento__barra{
        display: block;
        text-align: center;
    }
}

@media (max-width: 619px){
    .logo{
        width: 200px;
        height: 30px;
    }

    .barra__lista{

    }
    .elemento__barra{
        display: block;
        text-align: center;
    }

}