h1{font-family: arial bold;text-align: center; font-size: 36px;}
.MainText{font-family: courier; text-align: center; font-size: 20px;}
.Base{text-align: center;}
.Etiqueta{text-align: center; font-size: 14;}
hr{text-align: center;width: 30%;}